*{
    padding-top: 20;
    box-sizing: border-box;
}

body{
    margin: 20px;

}

.bola img{
    height: 100px;
    width: 100px;
    margin-top: 100px;
}

.bola {
    animation: bola 10s;
    width: 50px;

}

@keyframes bola{
    from{
        transform: translateX(0%) rotate(-1600deg);
    }

    to{
        transform: translateX(1600%) rotate(0deg);
    }
}

p {
    font-size: 16pt;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkred;
    text-align: center;
    padding-bottom: 50px;
}


.icone { 
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

.icone img{
    height: 100px;
    width: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.icone:hover img{
    transform: scale(2);
    opacity: 0.5;

}

button {
    border-radius: 100px 0 100px 0;
    padding: 20px;
    background-color: violet;
    color: lightgrey;
    font-weight: bold;
    
}

button:hover {
    background-color: purple;
    transition: background-color, ease-in-out, 1s;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}